body{font-family: "IBM Plex Serif", serif;}

/*h1 {

    font-weight: 500;
    font-style: normal;
    display: inline-block;
    font-size: 5rem;
}*/

h1 {
    font-weight: 500;
    font-style: normal;
    display: inline-block;
    /* Mínimo de 2.5rem, ideal de 10% da largura da tela, máximo de 5rem */
    font-size: clamp(2.5rem, 10vw, 5rem);
}

h2 {
    font-weight: 500;
    font-style: normal;
    /* Mínimo de 1rem, ideal de 4% da largura da tela, máximo de 1.5rem */
    font-size: clamp(1rem, 4vw, 1.5rem);
}

.sub-titulo {
    font-weight: 100;
    font-style: normal;
    /* Mínimo de 1.2rem, ideal de 5% da largura da tela, máximo de 1.8rem */
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    text-align: center; /* Mantém a simetria caso haja quebra em telas extremamente estreitas */
}

h1::after {
  content: '';
  display: inline-block;
  width: 0.05em; /* Largura do cursor */
  height: 1em; /* Altura do cursor relativa à fonte do h1 */
  background-color: currentColor; /* Herda a cor do texto do h1 */
  margin-left: 4px; /* Espaçamento entre a palavra e o cursor */
  vertical-align: text-bottom;


  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*
h2{

    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

.sub-titulo{

    font-weight: 100;
    font-style: normal;
    font-size: 1.8rem;
}*/

p, ul{
    font-size: 1.2rem;
    font-weight: 300;
}




a{
    /*text-decoration: none;*/
    color: black;
}

.pagina{
    text-decoration: underline;
    font-weight: 500;
}

.centro-italico{
    font-style: italic; font-size: 1.5rem;
}


.link-rodape{
    color: white;
}
